.event{
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #2C3E50;
    border-radius: 0 0 10px 10px;
    color: white;
    padding-left: 10px;

}

.grid-itemCellEvent{
    width: 500px;
    height: 300px;
    padding-bottom: 100px;
}

.CelluleEvent a{
    color: white;
}

.imageEvent{
    border-radius: 10px 10px 0 0;
    max-height: 100%;
    max-width: 100%;
    display: block;
}
.date{
    margin-left: 100px;
}
hr {
    width: 90%;
}