.Navigation ul {
      display: flex;
      position: absolute;
      flex-direction: column;
      height: 98%;
      background-color: #2C3E50;
      width: 15%;
      font-weight: 90;
      list-style: none;
      justify-content: center;
      padding: 10px;
      margin-top: -10px;
      margin-bottom: 0px;
      left: 0;
}

.Navigation p{
  color: white;
}

.Navigation li {
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 20px;
    color: white;
    border-radius: 18px;
    background-color: #2C3E50;
    margin-bottom: 50px;
    justify-content: center;
}
.Navigation li:hover {
    background-color: #396086;
}

.Navigation logout {
  display: flex;
  position: fixed;
  bottom: 5px;
  margin-left: 13%;
}

.Navigation logout:hover {
  background-color: #396086;
  border-radius: 5px;
}

.menu{
  font-size: 26px;
  margin-left: 30px;
}

@media screen and (max-width: 1600px){
  .menu{
    font-size: 24px;
  }
}

@media screen and (max-width: 1400px){
  .menu{
    font-size: 20px;
  }
  .Navigation logout{
    margin-left: 12%;
  }
}

@media screen and (max-width: 1200px){
  .menu{
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px){
  .menu{
    font-size: 12px;
  }
  .Navigation logout{
    margin-left: 11%;
  }
}

@media screen and (max-width: 600px){
  .menu{
    font-size: 12px;
  }
  .Navigation logout{
    margin-left: 9%;
  }
}
