.Navigation ul {
      display: flex;
      position: absolute;
      flex-direction: column;
      height: 101%;
      background-color: #2C3E50;
      width: 15%;
      font-weight: 90;
      list-style: none;
      justify-content: center;
      padding: 10px;
      margin-top: -10px;
      margin-bottom: 0px;
      left: 0;
}

.Navigation li {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 18px;
    background-color: #2C3E50;
    margin-bottom: 50px;
}
.Navigation li:hover {
    background-color: #396086;
}

.ImageEvent {
    display: flex;
    width: 50px;
    height: 30px;
}

.ImageMessage {
    display: flex;
    width: 40px;
    height: 30px;
}

.mover {
    background: white;
    height: 3px;
    width: 20px;
    border-radius: 10px;
    position: relative;
    animation: mover5 4s ease-in-out infinite;
    margin-left: 20px;
  }
  
  .mover::before,
  .mover::after {
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 20px;
    left: 20px;
    animation: mover5 4s ease-in-out infinite;
  }
  
  .mover::before {
    background: white;
    top: 10px;
    width: 20px;
  }
  
  .mover::after {
    background: white;
    top: -10px;
    width: 20px;
  }
  
  @keyframes mover5 {
    0% {
      transform: translateX(-5px) scale(1);
    }
  
    50% {
      transform: translateX(-20px) scale(1.1);
    }
  
    100% {
      transform: translateX(-5px) scale(1);
    }
  }