.post{
    height: 350px;
    width: 800px;
    background-color: #2C3E50;
    border-radius: 20px;
    color: white;
    padding-left: 10px;
    grid-template-columns: auto;   
}

.post a{
    font-size: 14px;
    padding-right: 20px;
}
.PPPost{
    max-width: 50px;
    padding: 20px 10px 0 5px;
}
.post hr{
    width: 95%;
}
.grid-itemPost{
    width: 500px;
    height: 300px;
    padding-bottom: 100px;
}

.image{
    height: 50px;
    width: 50px;
}

.grid-containerHeaderPost{
    display: grid;
    justify-content: left;
    grid-template-columns: auto auto;
}



.textPost{
    padding-left: 50px;
}