
.ContainerPost{
    height: 370px;
    width: 800px;
    background-color: #2C3E50;
    border-radius: 20px;
    color: white;
    padding-left: 10px;
    grid-template-columns: auto;
    margin-bottom: 20px;   
}

.post a{
    font-size: 14px;
    padding-right: 20px;
}
.PPPost{
    max-width: 50px;
    padding: 20px 10px 0 5px;
}

.post hr{
    width: 95%;
}
.grid-itemPost{
    width: 500px;
    height: 300px;
    padding-bottom: 100px;
}

.image{
    height: 50px;
    width: 50px;
}

.grid-containerHeaderPost{
    display: grid;
    justify-content: left;
    grid-template-columns: auto auto;
}

.textPostMessage{
    padding-left: 50px;
}

.textPost{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 230px;
    padding-left: 20px;
}

.Icon{
    font-size: 40px;
    color: white;
}

.post button { 
    border: none;
    color: white;
    border-radius: 12px;
    background-color: #2C3E50;
    padding: 8px 7px 7px 7px;
    margin: 0 20px 0 0;
}

.post button:hover {
    background-color: #396086;
}

@media screen and (max-width: 1600px){
    .ContainerPost{
        width: 700px;
    }
}

@media screen and (max-width: 1370px){
    .ContainerPost{
        width: 650px;
    }
}

@media screen and (max-width: 1140px){
    .ContainerPost{
        width: 500px;
    }
}

@media screen and (max-width: 910px){
    .ContainerPost{
        width: 360px;
        height: 410px;
    }
    .textPost {
        height: 270px;
    }
}

@media screen and (max-width: 710px){
    .ContainerPost{
        width: 250px;
        height: 450px;
    }
    .Icon {
        font-size: 30px;
    }
    .textPost {
        height: 310px;
    }
}