.post{
    height: 300px;
    width: 600px;
    background-color: #2C3E50;
    border-radius: 10px;
    color: white;
    padding-left: 10px;
    grid-template-columns: auto;
}

.grid-itemPost{
    width: 500px;
    height: 300px;
    padding-bottom: 100px;
}

.Post a{
    color: white;
}

.image{
    height: 50px;
    width: 50px;
}

.grid-grid-containerHeaderPost{
    display: grid;
    grid-template-rows: auto;
    
}