@font-face {
    font-family: Regular;
    src: url(../fonts/Inter-Regular.otf);
  }

h2{
    display: flex;
    position: relative;
    justify-content: center;
    font-family: Bold;
    font-size: 25px;
    color: black;
    top: 10px;
    margin-top: 0px;
}


.grid-containerPost{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-right: 50px;
  
}

.grid-containerPostTab{
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  padding-top: 60px;
  padding-bottom: 50px;
}