
.liste{
    list-style: none;
    padding-left: 20%;
    padding-top: 50px;
}

#titre{
    padding-right: 1000px;
    font-size: 22px;
    border-radius: 12px;
    border-color: #2C3E50;
}

#message{
    padding-right: 1000px;
    padding-bottom: 300px;
    font-size: 22px;
    border-radius: 12px;
    border-color: #2C3E50;
}

.grid-container {
    display: grid;
  }
  
  .grid-item {
    text-align: left;
  }