@font-face {
    font-family: Bold;
    src: url(../fonts/Inter-Black.otf);
  }

@font-face {
    font-family: Regular;
    src: url(../fonts/Inter-Regular.otf);
  }

  @font-face {
    font-family: SemiBold;
    src: url(../fonts/Inter-Regular.otf);
  }

#ErreurH1{
    font-family: Bold;
    text-align: center;
    font-size: 25px;
    color: red;
}