@font-face {
    font-family: Bold;
    src: url(../fonts/Inter-Black.otf);
  }

@font-face {
    font-family: Regular;
    src: url(../fonts/Inter-Regular.otf);
  }

  @font-face {
    font-family: SemiBold;
    src: url(../fonts/Inter-Regular.otf);
  }
.Formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px 0px;
    height: 100%;
    background: black;
    width: 80%;
    background-color: rgb(19, 68, 123);
    border: solid rgb(19, 68, 123);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

#FormuConnex {
    border-radius: 10% 0% 0% 10%;
}

#FormuInscr {
    border-radius: 0% 10% 10% 0%;
}

#FormuCnx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 500px;
    margin-left: 385px;
}

#FormuIns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;  
    width: 400px;
    height: 500px;
    margin-left: 615px;
}

#CentrerFormulaire {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
}


input{
    padding: 5px;
    margin-bottom: 20px;
}

#boutonSubmit{
    margin-top: 5px;
    width: 150px;
    padding: 5px;
    cursor: pointer; 
}

.mdp{
    font-family: Regular;
    text-align: right;
    font-size: 13px;
    color:white;
    cursor: pointer; 
}
h1{
    font-family: Bold;
    text-align: center;
    font-size: 25px;
    color:white;
}
/* .inscription{
    display: flex;
    padding-top: 20px;
}
.inscriptionlien{
    font-family: Regular;
    padding-left: 10px; 
    font-style: italic;
    cursor: pointer;      
} */
#hover:hover{
    color: blue;
    text-decoration: underline;
}

.lien{
    cursor: pointer;
}

.text{
    font-family: SemiBold;
}
/* .formu li {
    background: darkblue;
    color: white;
    width: 130px;
    padding: 10px 0;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 3px 3px 1px rgba(51, 51, 51, 0.418);

&:hover {
     background: salmon;
 }
} */

.inactive-btn {
    cursor: pointer; 
    list-style: none;
    color: blue;
    text-decoration-line: underline;
}

.boutonToIns {
    display: flex;
    position: absolute;
    justify-content: center;
    margin-top: 5px;
    padding: 5px;
    bottom: 364px;
    right: 985px;
    width: 150px;
    color: black;
}

.boutonToCnx {
    display: flex;
    position: absolute;
    justify-content: center;
    margin-top: 5px;
    padding: 5px;
    bottom: 280px;
    right: 630px;
    width: 150px;
    color: black;
}

.couleurLogoCnx {
    display: flex;
    position: absolute;
    right: 610px;
    width: 350px;
    height: 500px;
    background-color: rgb(199, 222, 248);
    border-radius: 0% 10% 10% 0%;
}

.imageLogoCnx {
    width: 330px;
    height: 430px;
    margin-top: 35px;
    margin-left: 10px;
}

.couleurLogoIns {
    display: flex;
    position: absolute;
    right: 975px;
    width: 350px;
    height: 500px;
    background-color: rgb(199, 222, 248);
    border-radius: 10% 0% 0% 10%;
}

.imageLogoIns {
    width: 330px;
    height: 430px;
    margin-top: 35px;
    margin-left: 10px;
}

@media screen and (max-height: 500px){
    #formu{
        width: 400px;
        height: 300px;
    
    }
  }