@font-face {
    font-family: Bold;
    src: url(../fonts/Inter-Black.otf);
  }

@font-face {
    font-family: Regular;
    src: url(../fonts/Inter-Regular.otf);
  }

  @font-face {
    font-family: SemiBold;
    src: url(../fonts/Inter-Regular.otf);
  }
#formu form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    border: solid #879FB5 5px;
    background-color: #879FB5;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}
#formu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* border: solid yellow 2px; */
    width: 100%;
    height: 100vh;
}

input{
    padding: 5px;
    margin-bottom: 20px;
}

#boutonSubmit{
    margin-top: 5px;
    padding: 5px;
    cursor: pointer; 
}

h1{
    font-family: Bold;
    text-align: center;
    font-size: 25px;
    color:white;
}

.lien{
    cursor: pointer;
}

.text{
    font-family: SemiBold;
}
.formu ul {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    list-style: none;

.formu li {
    background: darkblue;
    color: white;
    width: 130px;
    padding: 10px 0;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 3px 3px 1px rgba(51, 51, 51, 0.418);

&:hover {
     background: salmon;
 }
}
}
.active-btn {
    background: darksalmon;
    border-radius: 18px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.inactive-btn {
    background: salmon;
    border-radius: 18px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

#bouton {
    display: flex;
    justify-content: center;
    list-style: none;
    border: solid black 2px;
}

// #bouton {
//     display: flex;
//     justify-content: space-between;
//     list-style: none;
//     border: solid black 2px;
//     margin-left: 500px;
//     margin-right: 500px;
// }

// #login {
//     display: flex;
//     position: absolute;
//     justify-content: center;
//     top: 10%;
//     left: 35%;
//     list-style: none;
//     text-align: center;
//     cursor: pointer; 
//     width: 6%;
// }

// #register {
//     display: flex;
//     position: absolute;
//     justify-content: center;
//     list-style: none;
//     top: 10%;
//     left: 60%;
//     text-align: center;
//     cursor: pointer; 
//     width: 6%;

// }