.NomPrenom {
    top: 10%;
}

.Age {
    position: absolute;
    right: 20%;
    top: 20%;
    transform: translate(-50%,-50%); /* pour que l’élément centré se replace à 50% de sa largeur en haut et à gauche. */
}

.Email {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Metier{ 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Ville {
    position: absolute;
    right: 20%;
    top: 30%;
    transform: translate(-50%,-50%);
}

.Biographie {
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translate(-50%);
}

.Formation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

#profil {
    display: flex;
    justify-content: center;
    font-family: Regular;
    font-size: 25px;
    color: black;
}

.PhotoProfil {
    display: flex;
    position: absolute;
    top: 10%;
    left: 22%;
    width: 500px;
    height: 300px;
}
