@font-face {
    font-family: Bold;
    src: url(../fonts/Inter-Black.otf);
  }

@font-face {
    font-family: Regular;
    src: url(../fonts/Inter-Regular.otf);
  }

  @font-face {
    font-family: SemiBold;
    src: url(../fonts/Inter-Regular.otf);
  }
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    border: solid #879FB5 5px;
    background-color: #879FB5;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

#Reinitialiser{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* border: solid yellow 2px; */
    width: 100%;
    height: 100vh;
}

#boutonSubmit{
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
}

.mdp{
    font-family: Regular;
    text-align: right;
    font-size: 13px;
    color:white;
    cursor: pointer;
}
h1{
    font-family: Bold;
    text-align: center;
    font-size: 25px;
    color:white;
}
p{
    font-family: Bold;
    color: white;
}
.inscription{
    display: flex;
    padding-top: 20px;
}
.inscriptionlien{
    font-family: Regular;
    padding-left: 10px;
    font-style: italic;
    cursor: pointer;
}
#hover:hover{
    color: blue;
    text-decoration: underline;
}

.lien{
    cursor: pointer;
}

.text{
    font-family: SemiBold;
}